<!DOCTYPE html>
<html>
<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Alatsi' rel='stylesheet'>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<style>
		body {
		    font-family: 'Inter';
		}
	</style>
	
	<title>Allegations against {{ name }}</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
	    <div class="d-flex flex-grow-1">
	        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
	        <a class="navbar-brand d-none d-lg-inline-block" href="/">
	            New York Police Action Board
	        </a>
	    </div>
	    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
	        <ul class="navbar-nav ml-auto flex-nowrap">
	            <li class="nav-item">
	                <a href="/" class="nav-link m-2 menu-item">Home</a>
	            </li>
	            <li class="nav-item">
	                <a href="/search" class="nav-link m-2 menu-item nav-active">Search</a>
	            </li>
	            <li class="nav-item">
	                <a href="/predict" class="nav-link m-2 menu-item">Predict</a>
	            </li>
	            <li class="nav-item">
	                <a href="/about" class="nav-link m-2 menu-item">About</a>
	            </li>
	        </ul>
	    </div>
	</nav>
	<br><br><br><br>
	<div class="container">
		<div class="row">
			<table style="border:2px solid black">
				<tr>
					<td style="text-align: center; font-size: 25px; font-family: 'Alatsi';">
						Allegations against {{ name }}
					</td>
				</tr>
				<tr>
					<td style="height: 300px;">
						<div style="width: 1170px; overflow-x:hidden;">
							<iframe src = "/details/{{ cop_id }}" height="1000" width="1170" frameborder="0"> </iframe>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>